In [4]:
import pandas as pd
import numpy as np
from typing import List

In [ ]:
def merge_data(_df_list: List[pd.DataFrame]) -> pd.DataFrame:
    """
    merges the data files
    :param _df_list:
    :return:
    """
    num = len(_df_list)
    to_select = list(range(1,num))
    for i

    return mg_df

In [2]:
# Load data
pit = pd.read_csv('data/pit_stops.csv')
results = pd.read_csv('data/results.csv')
status = pd.read_csv('data/status.csv')

In [6]:
def merge_tables(_pit: pd.DataFrame, _results: pd.DataFrame, _status: pd.DataFrame) -> pd.DataFrame:
    """
    merges the data files
    :param _pit:
    :param _results:
    :param _status:
    :return:
    """
    mg_df = pd.merge(_pit, _results, on=['raceId','driverId'], how = 'left', suffixes=('_pit', '_result'))
    mg_df = pd.merge(mg_df, _status, on='statusId', how='left')
    return mg_df

In [17]:
df_merge = merge_tables(pit, results, status)

In [10]:
pd.concat([pit,results,status], join='outer', axis=1)

,raceId,driverId,stop,lap,time,duration,milliseconds,resultId,raceId,driverId,...,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,statusId,status
0,841.0,153.0,1.0,1.0,17:05:23,26.898,26898.0,1,18,1,...,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,1.0,Finished
1,841.0,30.0,1.0,1.0,17:05:52,25.021,25021.0,2,18,2,...,58,+5.478,5696094,41,3,1:27.739,217.586,1,2.0,Disqualified
2,841.0,17.0,1.0,11.0,17:20:48,23.426,23426.0,3,18,3,...,58,+8.163,5698779,41,5,1:28.090,216.719,1,3.0,Accident
3,841.0,4.0,1.0,12.0,17:22:34,23.251,23251.0,4,18,4,...,58,+17.181,5707797,58,7,1:28.603,215.464,1,4.0,Collision
4,841.0,13.0,1.0,13.0,17:24:10,23.842,23842.0,5,18,5,...,58,+18.014,5708630,43,1,1:27.418,218.385,1,5.0,Engine
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25461,1076,849,...,57,\N,\N,49,18,1:23.882,226.518,11,NaN,NaN
25456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25462,1076,4,...,57,\N,\N,57,2,1:20.846,235.024,11,NaN,NaN
25457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25463,1076,830,...,38,\N,\N,37,6,1:21.677,232.633,9,NaN,NaN
25458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25464,1076,20,...,22,\N,\N,17,19,1:25.189,223.042,3,NaN,NaN
25459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25465,1076,832,...,1,\N,\N,\N,0,\N,\N,20,NaN,NaN

In [14]:
df_tmp = pd.merge(pit, results, on=['raceId','driverId'], how = 'left', suffixes=('_pit', '_result'))

In [16]:
df_mg_tmp = pd.concat([df_tmp, status], join='outer', axis=1)