In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [44]:
results = pd.read_csv('results.csv')
results
results['raceId'] = results['raceId'].astype(int)

In [49]:
results.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId'],
      dtype='object')

In [45]:
results['position'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '\\N', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33'],
      dtype=object)

In [46]:
results['position'] = results['position'].replace('\\N',0)
results['position'] = results['position'].astype(int)

In [47]:
results['position']

0         1
1         2
2         3
3         4
4         5
         ..
25455    16
25456    17
25457     0
25458     0
25459     0
Name: position, Length: 25460, dtype: int32

In [43]:
races = pd.read_csv('races.csv')
races_latest5 = races[races['year']>=2017]
races_latest5

,raceId,year,round,circuitId,name,date,time,url
956,969,2017,1,1,Australian Grand Prix,26/03/17,5:00:00,http://en.wikipedia.org/wiki/2017_Australian_G...
957,970,2017,2,17,Chinese Grand Prix,09/04/17,6:00:00,http://en.wikipedia.org/wiki/2017_Chinese_Gran...
958,971,2017,3,3,Bahrain Grand Prix,16/04/17,15:00:00,http://en.wikipedia.org/wiki/2017_Bahrain_Gran...
959,972,2017,4,71,Russian Grand Prix,30/04/17,12:00:00,http://en.wikipedia.org/wiki/2017_Russian_Gran...
960,973,2017,5,4,Spanish Grand Prix,14/05/17,12:00:00,http://en.wikipedia.org/wiki/2017_Spanish_Gran...
...,...,...,...,...,...,...,...,...
1074,1092,2022,18,22,Japanese Grand Prix,09/10/22,5:00:00,http://en.wikipedia.org/wiki/2022_Japanese_Gra...
1075,1093,2022,19,69,United States Grand Prix,23/10/22,19:00:00,http://en.wikipedia.org/wiki/2022_United_State...
1076,1094,2022,20,32,Mexico City Grand Prix,30/10/22,20:00:00,http://en.wikipedia.org/wiki/2022_Mexican_Gran...
1077,1095,2022,21,18,Brazilian Grand Prix,13/11/22,18:00:00,http://en.wikipedia.org/wiki/2022_Brazilian_Gr...
1078,1096,2022,22,24,Abu Dhabi Grand Prix,20/11/22,13:00:00,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...

In [85]:
results_latest5 = results[results['raceId']>=969]
results_latest5_Winner = results_latest5[results_latest5['position']==1]
results_latest5_Winner

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
23374,23379,969,20,6,5,2,1,1,1,25.0,57,1:24:11.672,5051672,53,3,1:26.638,220.351,1
23394,23399,970,1,131,44,1,1,1,1,25.0,56,1:37:36.158,5856158,44,1,1:35.378,205.745,1
23414,23419,971,20,6,5,3,1,1,1,25.0,57,1:33:53.374,5633374,36,4,1:33.826,207.652,1
23434,23439,972,822,131,77,3,1,1,1,25.0,52,1:28:08.743,5288743,49,3,1:37.367,216.221,1
23454,23459,973,1,131,44,1,1,1,1,25.0,66,1:35:56.497,5756497,64,1,1:23.593,200.471,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25360,25366,1072,1,131,44,1,1,1,1,26.0,50,2:06:15.118,7575118,47,1,1:30.734,244.962,1
25380,25386,1073,830,9,33,1,1,1,1,26.0,58,1:30:17.345,5417345,39,1,1:26.103,220.800,1
25400,25406,1074,844,6,16,1,1,1,1,26.0,57,1:37:33.584,5853584,51,1,1:34.570,206.018,1
25420,25426,1075,830,9,1,4,1,1,1,25.0,50,1:24:19.293,5059293,50,2,1:31.772,242.191,1
25440,25446,1076,844,6,16,1,1,1,1,26.0,58,1:27:46.548,5266548,58,1,1:20.260,236.740,1

In [65]:
cons = pd.read_csv('constructors.csv')
cons

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team

In [63]:
results_latest5_Winner['constructorId'].value_counts()

131    60
9      24
6      16
1       1
211     1
213     1
214     1
Name: constructorId, dtype: int64

In [68]:
joined_df = results_latest5_Winner.merge(cons,on = 'constructorId')
joined_df['name'].value_counts()

Mercedes          60
Red Bull          24
Ferrari           16
Alpine F1 Team     1
Racing Point       1
McLaren            1
AlphaTauri         1
Name: name, dtype: int64

In [70]:
joined_df['nationality'].value_counts()

German      60
Austrian    24
Italian     17
British      2
French       1
Name: nationality, dtype: int64

In [86]:
results_latest5

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
23374,23379,969,20,6,5,2,1,1,1,25.0,57,1:24:11.672,5051672,53,3,1:26.638,220.351,1
23375,23380,969,1,131,44,1,2,2,2,18.0,57,+9.975,5061647,44,6,1:27.033,219.351,1
23376,23381,969,822,131,77,3,3,3,3,15.0,57,+11.250,5062922,56,2,1:26.593,220.465,1
23377,23382,969,8,6,7,4,4,4,4,12.0,57,+22.393,5074065,56,1,1:26.538,220.605,1
23378,23383,969,830,9,33,5,5,5,5,10.0,57,+28.827,5080499,43,5,1:26.964,219.525,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25455,25461,1076,849,3,6,18,16,16,16,0.0,57,\N,\N,49,18,1:23.882,226.518,11
25456,25462,1076,4,214,14,10,17,17,17,0.0,57,\N,\N,57,2,1:20.846,235.024,11
25457,25463,1076,830,9,1,2,0,R,18,0.0,38,\N,\N,37,6,1:21.677,232.633,9
25458,25464,1076,20,117,5,17,0,R,19,0.0,22,\N,\N,17,19,1:25.189,223.042,3
25459,25465,1076,832,6,55,9,0,R,20,0.0,1,\N,\N,\N,0,\N,\N,20

In [88]:
results_latest5 = results_latest5.iloc[:,[0,1,2,3,6]]

       resultId  raceId  driverId  constructorId  position
23374     23379     969        20              6         1
23375     23380     969         1            131         2
23376     23381     969       822            131         3
23377     23382     969         8              6         4
23378     23383     969       830              9         5
...         ...     ...       ...            ...       ...
25455     25461    1076       849              3        16
25456     25462    1076         4            214        17
25457     25463    1076       830              9         0
25458     25464    1076        20            117         0
25459     25465    1076       832              6         0

[2080 rows x 5 columns]

In [93]:
plot_df = results_latest5.merge(cons,on = 'constructorId')
plot_df = plot_df.iloc[:,[0,1,2,3,4,6]]
plot_df

      resultId  raceId  driverId  constructorId  position            name
0        23379     969        20              6         1         Ferrari
1        23382     969         8              6         4         Ferrari
2        23400     970        20              6         2         Ferrari
3        23403     970         8              6         5         Ferrari
4        23419     971        20              6         1         Ferrari
...        ...     ...       ...            ...       ...             ...
2075     25414    1074         4            214         9  Alpine F1 Team
2076     25431    1075       839            214         6  Alpine F1 Team
2077     25441    1075         4            214         0  Alpine F1 Team
2078     25452    1076       839            214         7  Alpine F1 Team
2079     25462    1076         4            214        17  Alpine F1 Team

[2080 rows x 6 columns]