In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Constructor Influence in recent 10 years

In [59]:
results = pd.read_csv('data/results.csv')
races = pd.read_csv('data/races.csv')
results['raceId'] = results['raceId'].astype(int)

In [60]:
results.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId'],
      dtype='object')

In [61]:
results['position'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '\\N', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33'],
      dtype=object)

In [64]:
races_latest10 = races[races['year']>=2012]
races_latest10

,raceId,year,round,circuitId,name,date,time,url
858,860,2012,1,1,Australian Grand Prix,18/03/12,6:00:00,http://en.wikipedia.org/wiki/2012_Australian_G...
859,861,2012,2,2,Malaysian Grand Prix,25/03/12,8:00:00,http://en.wikipedia.org/wiki/2012_Malaysian_Gr...
860,862,2012,3,17,Chinese Grand Prix,15/04/12,7:00:00,http://en.wikipedia.org/wiki/2012_Chinese_Gran...
861,863,2012,4,3,Bahrain Grand Prix,22/04/12,12:00:00,http://en.wikipedia.org/wiki/2012_Bahrain_Gran...
862,864,2012,5,4,Spanish Grand Prix,13/05/12,12:00:00,http://en.wikipedia.org/wiki/2012_Spanish_Gran...
...,...,...,...,...,...,...,...,...
1074,1092,2022,18,22,Japanese Grand Prix,09/10/22,5:00:00,http://en.wikipedia.org/wiki/2022_Japanese_Gra...
1075,1093,2022,19,69,United States Grand Prix,23/10/22,19:00:00,http://en.wikipedia.org/wiki/2022_United_State...
1076,1094,2022,20,32,Mexico City Grand Prix,30/10/22,20:00:00,http://en.wikipedia.org/wiki/2022_Mexican_Gran...
1077,1095,2022,21,18,Brazilian Grand Prix,13/11/22,18:00:00,http://en.wikipedia.org/wiki/2022_Brazilian_Gr...
1078,1096,2022,22,24,Abu Dhabi Grand Prix,20/11/22,13:00:00,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...

In [69]:
results_latest10 = results[results['raceId']>=860]
results_latest10_Winner = results_latest10[results_latest10['position']==1]

In [66]:
constructor = pd.read_csv('data/constructors.csv')
constructor

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team

In [67]:
results_latest10_Winner['constructorId'].value_counts()

131    115
9       49
6       24
1        8
208      2
3        1
213      1
211      1
214      1
Name: constructorId, dtype: int64

In [70]:
results_latest10_Winner

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
21229,21232,860,18,1,3,2,1,1,1,25.0,58,1:34:09.565,5649565,56,1,1:29.187,214.053,1
21253,21256,861,4,6,5,8,1,1,1,25.0,56,2:44:51.812,9891812,53,7,1:41.680,196.250,1
21277,21280,862,3,131,8,1,1,1,1,25.0,56,1:36:26.929,5786929,40,8,1:40.967,194.356,1
21301,21304,863,20,9,1,1,1,1,1,25.0,57,1:35:10.990,5710990,41,1,1:36.379,202.151,1
21325,21328,864,813,3,18,1,1,1,1,25.0,66,1:39:09.145,5949145,26,6,1:27.906,190.635,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25360,25366,1072,1,131,44,1,1,1,1,26.0,50,2:06:15.118,7575118,47,1,1:30.734,244.962,1
25380,25386,1073,830,9,33,1,1,1,1,26.0,58,1:30:17.345,5417345,39,1,1:26.103,220.800,1
25400,25406,1074,844,6,16,1,1,1,1,26.0,57,1:37:33.584,5853584,51,1,1:34.570,206.018,1
25420,25426,1075,830,9,1,4,1,1,1,25.0,50,1:24:19.293,5059293,50,2,1:31.772,242.191,1
25440,25446,1076,844,6,16,1,1,1,1,26.0,58,1:27:46.548,5266548,58,1,1:20.260,236.740,1