# Test Field

In [1]:
import datetime
import re
from typing import List

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from scipy.stats import ttest_ind
from scipy.stats import mannwhitneyu
from sklearn.utils import resample

In [2]:
import final_func as fn
import importlib
importlib.reload(fn)

In [3]:
# Load data
pit = pd.read_csv('data/pit_stops.csv')
results = pd.read_csv('data/results.csv')
status = pd.read_csv('data/status.csv')
lap = pd.read_csv("data/lap_times.csv")

In [4]:
# Process the data files
merge_df = fn.merge_data([pit, results, status])
merge_df = fn.process_data(merge_df)
df_dict = fn.pit_stop_group(merge_df)

In [7]:
d1 = {'df_Id': [1, 2], 'd1_col1': [3, 4]}
d2 = {'not_df_Id': [3, 2], 'd2_col1': [8, 9]}
df1 = pd.DataFrame(data=d1)
df2 = pd.DataFrame(data=d2)
fn.merge_data([df1, df2])

Error: no common "id" columns found

   df_Id  d1_col1
0      1        3
1      2        4

In [69]:
merge_df[:100]

,raceId,driverId,stop,lap,time_1,duration,milliseconds_1,resultId,constructorId,number,...,rank,fastestLapTime,fastestLapSpeed,statusId,status,total_laps,total_stops,lap_prop,abs_deviation,abs_deviation_mean
0,841,153,1,1,17:05:23,26.898,26898,20789,5,19,...,10,1:30.467,211.025,11,+1 Lap,58,3,0.017241,0.232759,0.195402
1,841,153,2,17,17:31:06,24.463,24463,20789,5,19,...,10,1:30.467,211.025,11,+1 Lap,58,3,0.293103,0.206897,0.195402
2,841,153,3,35,17:59:45,26.348,26348,20789,5,19,...,10,1:30.467,211.025,11,+1 Lap,58,3,0.603448,0.146552,0.195402
3,841,17,1,11,17:20:48,23.426,23426,20783,9,2,...,3,1:29.600,213.066,1,Finished,58,3,0.189655,0.060345,0.051724
4,841,17,2,26,17:44:29,22.520,22520,20783,9,2,...,3,1:29.600,213.066,1,Finished,58,3,0.448276,0.051724,0.051724
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,843,3,1,12,15:24:32,20.771,20771,20829,131,8,...,5,1:41.166,193.974,1,Finished,56,3,0.214286,0.035714,0.047619
96,843,3,2,25,15:47:13,22.005,22005,20829,131,8,...,5,1:41.166,193.974,1,Finished,56,3,0.446429,0.053571,0.047619
97,843,3,3,39,16:11:19,20.720,20720,20829,131,8,...,5,1:41.166,193.974,1,Finished,56,3,0.696429,0.053571,0.047619
98,843,67,1,12,15:24:56,22.010,22010,20838,5,18,...,11,1:41.696,192.963,1,Finished,56,3,0.214286,0.035714,0.136905
99,843,67,2,16,15:32:19,24.722,24722,20838,5,18,...,11,1:41.696,192.963,1,Finished,56,3,0.285714,0.214286,0.136905

In [37]:
df = pd.DataFrame({"raceId": [1]*5+[2]*4,
                   "driverId": [1,1,1,2,3,4,4,5,5],
                   "positionOrder": [1,1,1,2,3,1,1,5,5],
                   "stop": [1,2,3,1,1,1,2,1,2],
                   "lap": [2,5,8,5,5,3,6,3,6],
                   "laps": [20]*9,
                   "statusId": [1]*4+[2]+[1]*2+[11]*2})

In [38]:
df

   raceId  driverId  positionOrder  stop  lap  laps  statusId
0       1         1              1     1    2    20         1
1       1         1              1     2    5    20         1
2       1         1              1     3    8    20         1
3       1         2              2     1    5    20         1
4       1         3              3     1    5    20         2
5       2         4              1     1    3    20         1
6       2         4              1     2    6    20         1
7       2         5              5     1    3    20        11
8       2         5              5     2    6    20        11

In [48]:
test_df = fn.process_data(df)

In [49]:
df_dict = fn.pit_stop_group(test_df)

In [59]:
df_front,df_back = fn.front_back_division(test_df)

In [57]:
fn.comparison_plot(df_front,df_back)

ValueError: high <= 0

In [67]:
df_back

[Empty DataFrame
 Columns: [stop, lap_prop]
 Index: [],
 Empty DataFrame
 Columns: [stop, lap_prop]
 Index: [],
 Empty DataFrame
 Columns: [stop, lap_prop]
 Index: [],
 Empty DataFrame
 Columns: [stop, lap_prop]
 Index: [],
 Empty DataFrame
 Columns: [stop, lap_prop]
 Index: [],
 Empty DataFrame
 Columns: [stop, lap_prop]
 Index: []]